@import "tailwindcss";

:root {
  --background: #121212; /* Updated to Soft Black */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}